.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo-part {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.header-menu-list-one {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-menu-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-menu-list:hover,
.header-menu-list:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-main {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-main:focus,
.header-contacts-main:hover {
  color: #404bbf;
}

.header-contacts-tel {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.main {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-page {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding-bottom: 48px;
  max-width: 496px;
}
.main-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.info-section {
  padding: 120px 0;
}

.content-info {
  display: flex;
  gap: 24px;
}

.content-info-list {
  width: calc((100% - 72px) / 4);
}

.content-info-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.content-info-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team_main {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-div {
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.our-team-img {
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}

.our-team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  margin-bottom: 8px;
}

.our-portfolio {
  margin-bottom: 72px;
}

.our-portfolio-div {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-img {
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-part {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
